<%- include('partials/head') %>

<h1><%= title %></h1>

<ul>
  <% contenido.forEach(item => { %>
    <a href="/mostrarArchivo/<%= item %>"><%= item %></a> 
    <button>Elimniar</button>

    <br/>
  <% }); %>
</ul>

<h3>Crea tu nueva Tarea</h3>

<form id="crearListaForm" method="POST">
    <input id="newItem" type="text" name="nombreLista">
    <button type="submit">Agregar Tarea</button>
</form>

<script>
    document.getElementById('newItem').focus();

    document.getElementById('crearListaForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el comportamiento por defecto del formulario

        // Enviar solicitud POST para crear una nueva lista
        fetch('/crearLista', {
            method: 'POST',
            body: JSON.stringify({ nombreLista: document.getElementById('newItem').value }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            // Verificar si hay una propiedad de redirección en la respuesta
            if (data.redirect) {
                window.location.href = data.redirect; // Redirigir a la página indicada
            } else {
                console.error('Error al crear la lista:', data.error);
            }
        })
        .catch(error => console.error('Error al crear la lista:', error));
    });
</script>

<%- include('partials/foot') %>


