<%- include('partials/head') %>

    <h1>
        <%= title %>
    </h1>

    <ul>
        <% contenido.forEach(item=> { %>
            <li>
                <a href="/mostrarArchivo/<%= item %>">
                    <%= item %>
                </a>
                <button class="eliminarBtn" data-nombre="<%= item %>">Eliminar</button>

                <form class="editarForm" method="POST">
                    <input type="hidden" id="nombreListaAnterior" value="<%= item %>">
                    <input type="text" id="nuevoNombreLista" placeholder="Nuevo nombre">
                    <button type="submit">Editar</button>
                </form>


            </li>
            <% }); %>
    </ul>

    <h3>Crea tu nueva Tarea</h3>

    <form id="crearListaForm" method="POST">
        <input id="newItem" type="text" name="nombreLista">
        <button type="submit">Agregar Tarea</button>
    </form>

    <script>
        document.getElementById('newItem').focus();

        document.getElementById('crearListaForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Evitar el comportamiento por defecto del formulario

            // Enviar solicitud POST para crear una nueva lista
            fetch('/crearLista', {
                method: 'POST',
                body: JSON.stringify({ nombreLista: document.getElementById('newItem').value }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    // Verificar si hay una propiedad de redirección en la respuesta
                    if (data.redirect) {
                        window.location.href = data.redirect; // Redirigir a la página indicada
                    } else {
                        console.error('Error al crear la lista:', data.error);
                    }
                })
                .catch(error => console.error('Error al crear la lista:', error));
        });
    </script>


    <script>
        // Escucha el clic en los botones de eliminar y envía la solicitud DELETE
        document.querySelectorAll('.eliminarBtn').forEach(btn => {
            btn.addEventListener('click', function () {
                const nombreLista = this.dataset.nombre;
                fetch(`/eliminarLista/${nombreLista}`, {
                    method: 'DELETE'
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.redirect) {
                            window.location.href = data.redirect;
                        } else {
                            console.error('Error al eliminar la lista:', data.error);
                        }
                    })
                    .catch(error => console.error('Error al eliminar la lista:', error));
            });
        });
    </script>


    <script>

        document.querySelectorAll('.editarForm').forEach(form => {
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                // Encuentra los valores dentro del formulario actual
                const nombreListaAnterior = this.querySelector('#nombreListaAnterior').value;
                const nuevoNombreLista = this.querySelector('#nuevoNombreLista').value;

                fetch('/editarLista', {
                    method: 'POST',
                    body: JSON.stringify({
                        nombreListaAnterior: nombreListaAnterior,
                        nuevoNombreLista: nuevoNombreLista
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.redirect) {
                            window.location.href = data.redirect;
                        } else {
                            console.error('Error al editar la lista:', data.error);
                        }
                    })
                    .catch(error => console.error('Error al editar la lista:', error));
            });
        });

    </script>



    <%- include('partials/foot') %>