<%- include('partials/head') %>

    <link rel="stylesheet" type="text/css" href="/styleContenido.css">

    <div class="imagenAgendaFondo"></div>


    <h2>Edita la Tarea</h2>
    <div class="container">
        <div class="panel">
            <% contenido.forEach(tarea=> { %>
                <form class="row g-3 mt-3 " id="editarFormArchivo" method="POST">
                    <div class="col-12">
                        <label for="nombreCarpeta" class="form-label">Tarea</label>
                        <input type="text" class="form-control" name="nombreCarpeta" id="nombreCarpeta"
                            value="<%= tarea.nombre %>">
                    </div>
                    <div class="col-6">
                        <label for="fechaTarea" class="form-label">Fecha</label>
                        <input type="date" class="form-control" name="fechaTarea" id="fechaTarea"
                            value="<%= tarea.fecha %>">
                    </div>
                    <div class="col-6">
                        <label for="horaTarea" class="form-label">Hora</label>
                        <input type="time" class="form-control" name="horaTarea" id="horaTarea"
                            value="<%= tarea.hora %>">
                    </div>
                    <div class="col-12">
                        <label for="descripcionTarea" class="form-label">Descripción</label>
                        <textarea id="descripcionTarea" class="form-control"
                            name="descripcionTarea"><%= tarea.descripcion %></textarea>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">Editar</button>
                    </div>
                </form>
                <% }) %>
        </div>
    </div>


    <script>
        document.getElementById('editarFormArchivo').addEventListener('submit', function (event) {
            event.preventDefault(); // Evitar el comportamiento por defecto del formulario

            // Obtener la URL actual
            const currentURL = window.location.href;

            // Encontrar el índice de "/mostrarEditar/"
            const index = currentURL.indexOf("/mostrarEditar/");

            // Obtener el substring después de "/mostrarEditar/"
            const segment = currentURL.substring(index + "/mostrarEditar/".length);

            // Usar el segmento como nombreLista
            const nombreLista = segment;

            fetch(`/editarLista/${nombreLista}`, {
                method: 'POST',
                body: JSON.stringify({
                    nombreCarpeta: document.getElementById('nombreCarpeta').value,
                    fechaTarea: document.getElementById('fechaTarea').value,
                    horaTarea: document.getElementById('horaTarea').value,
                    descripcionTarea: document.getElementById('descripcionTarea').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    // Verificar si hay una propiedad de redirección en la respuesta
                    if (data.redirect) {
                        window.location.href = data.redirect; // Redirigir a la página indicada
                    } else {
                        console.error('Error al crear la lista:', data.error);
                    }
                })
                .catch(error => console.error('Error al crear la lista:', error));
        });

    </script>



    <%- include('partials/foot') %>